#u229-4
{
	font-family: asap-n4, sans-serif;
}

#u231-4
{
	font-family: asap-n4, sans-serif;
}

#u543-4
{
	font-family: asap-n4, sans-serif;
}

#u360-4
{
	font-family: asap-n4, sans-serif;
}

#u342-4
{
	font-family: asap-n4, sans-serif;
}

#u343-4
{
	font-family: asap-n4, sans-serif;
}

#u344-4
{
	font-family: asap-n4, sans-serif;
}

#u410-4,#u448-4,#u685-4,#u675-4,#u676-4,#u678-4,#u679-4,#u687-4,#u688-4,#u690-4,#u681-3
{
	font-family: asap-n4, sans-serif;
}

