.version.sobre /* version checker */
{
	color: #0000E8;
	background-color: #FDEB6B;
}

.html
{
	background: #000000 url("../images/foto02.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 599.625px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
	width: 0.01px;
}

#pu227
{
	width: 0.01px;
	margin-left: 20px;
}

#u227
{
	z-index: 66;
	width: 156px;
	height: 41px;
	margin-right: -10000px;
	margin-top: 19px;
}

#u227:hover
{
	width: 156px;
	height: 41px;
	min-height: 0px;
	margin: 19px -10000px 0px 0px;
}

#buttonu542
{
	z-index: 96;
	width: 79px;
	padding-bottom: 31px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 606px;
}

#buttonu542:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u543-4
{
	z-index: 97;
	width: 74px;
	min-height: 4px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 2px;
}

#buttonu542:hover #u543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 4px;
	width: 74px;
	margin: 31px -10000px 0px 0px;
}

#buttonu228
{
	z-index: 67;
	width: 79px;
	padding-bottom: 31px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 723px;
}

#buttonu542.ButtonSelected,#buttonu228:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u229-4
{
	z-index: 68;
	width: 74px;
	min-height: 4px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 2px;
}

#buttonu542.ButtonSelected #u543-4,#buttonu228:hover #u229-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 4px;
	width: 74px;
	margin: 31px -10000px 0px 0px;
}

#buttonu230
{
	z-index: 72;
	width: 79px;
	padding-bottom: 31px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 840px;
}

#buttonu228.ButtonSelected,#buttonu230:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu230.ButtonSelected
{
	width: 79px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u231-4
{
	z-index: 73;
	width: 74px;
	min-height: 4px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 2px;
}

#buttonu228.ButtonSelected #u229-4,#buttonu230:hover #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 4px;
	width: 74px;
	margin: 31px -10000px 0px 0px;
}

#buttonu230.ButtonSelected #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 4px;
	width: 74px;
	margin: 31px -10000px 0px 0px;
}

#u399-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 12px;
	position: relative;
}

#u410-4
{
	z-index: 6;
	width: 623px;
	min-height: 56px;
	background-color: transparent;
	text-align: center;
	line-height: 21px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 166px;
	position: relative;
}

#u448-4
{
	z-index: 10;
	width: 920px;
	min-height: 11px;
	background-color: transparent;
	text-align: center;
	line-height: 21px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	position: relative;
}

#u449
{
	z-index: 14;
	width: 920px;
	height: 42px;
	margin-left: 20px;
	margin-top: 7px;
	position: relative;
	background: transparent url("../images/logo-pmoreno%402x.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u449
{
	background-image: url("../images/logo-pmoreno%402x_2x.png");
}

#ppu683
{
	width: 0.01px;
	margin-top: 56px;
}

#pu683
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 489px;
}

#u683
{
	z-index: 43;
	width: 472px;
	background-color: #FFFFFF;
	padding-bottom: 80px;
	position: relative;
	margin-right: -10000px;
}

#u684-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 21px;
}

#u685-4
{
	z-index: 48;
	width: 430px;
	min-height: 56px;
	background-color: transparent;
	text-align: center;
	line-height: 21px;
	color: #303030;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 21px;
}

#u673
{
	z-index: 16;
	width: 472px;
	background-color: #FFFFFF;
	padding-bottom: 80px;
	position: relative;
	margin-right: -10000px;
}

#u674-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 21px;
}

#u675-4
{
	z-index: 21;
	width: 430px;
	min-height: 56px;
	background-color: transparent;
	text-align: center;
	line-height: 21px;
	color: #303030;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 21px;
}

#pu672
{
	width: 0.01px;
	margin-top: -1px;
}

#u672
{
	z-index: 15;
	width: 472px;
	background-color: #323232;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u672_position_content
{
	padding-top: 30px;
	padding-bottom: 64px;
}

#u676-4
{
	z-index: 25;
	width: 472px;
	min-height: 21px;
	background-color: transparent;
	line-height: 27px;
	text-align: center;
	font-size: 18px;
	color: #B7D81E;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
}

#u678-4
{
	z-index: 30;
	width: 400px;
	min-height: 21px;
	background-color: transparent;
	text-align: center;
	line-height: 21px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 37px;
	margin-top: 29px;
	position: relative;
}

#u677
{
	z-index: 29;
	width: 430px;
	height: 75px;
	margin-left: 22px;
	margin-top: 27px;
	position: relative;
	background: transparent url("../images/tabela-01%403x.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u677
{
	background-image: url("../images/tabela-01%403x_2x.png");
}

#u680
{
	z-index: 38;
	width: 430px;
	height: 45px;
	margin-left: 22px;
	margin-top: 27px;
	position: relative;
	background: transparent url("../images/tabela-02%403x.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u680
{
	background-image: url("../images/tabela-02%403x_2x.png");
}

#u679-4
{
	z-index: 34;
	width: 400px;
	min-height: 21px;
	background-color: transparent;
	text-align: justify;
	line-height: 21px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 37px;
	margin-top: 33px;
	position: relative;
}

#u682
{
	z-index: 42;
	width: 430px;
	background-color: #323232;
	position: relative;
	margin-right: -10000px;
	left: 489px;
	padding: 30px 20px 25.049999999999613px 22px;
}

#u687-4
{
	z-index: 53;
	width: 430px;
	min-height: 21px;
	background-color: transparent;
	line-height: 27px;
	text-align: center;
	font-size: 18px;
	color: #00BCDB;
	font-family: asap, sans-serif;
	font-weight: 700;
	left: -1px;
	position: relative;
}

#u686
{
	z-index: 52;
	width: 430px;
	height: 109px;
	margin-top: 13px;
	position: relative;
	background: transparent url("../images/tabela-03%403x.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u686
{
	background-image: url("../images/tabela-03%403x_2x.png");
}

#u688-4
{
	z-index: 57;
	width: 400px;
	min-height: 21px;
	background-color: transparent;
	text-align: justify;
	line-height: 21px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 15px;
	margin-top: 20px;
	position: relative;
}

#u689
{
	z-index: 61;
	width: 430px;
	height: 95px;
	margin-top: 19px;
	position: relative;
	background: transparent url("../images/tabela-04%403x.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u689
{
	background-image: url("../images/tabela-04%403x_2x.png");
}

#u690-4
{
	z-index: 62;
	width: 400px;
	min-height: 21px;
	background-color: transparent;
	text-align: justify;
	line-height: 21px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 15px;
	margin-top: 19px;
	position: relative;
}

#u681-3
{
	z-index: 39;
	width: 623px;
	min-height: 56px;
	background-color: transparent;
	text-align: justify;
	line-height: 21px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 168px;
	position: relative;
}

#u341
{
	z-index: 77;
	min-height: 57px;
	padding-bottom: 57px;
}

#u341_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#buttonu359
{
	z-index: 90;
	width: 155px;
	padding-bottom: 5px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 187px;
}

#buttonu359.ButtonSelected
{
	width: 155px;
	min-height: 0px;
	margin: 19px -10000px 0px 0px;
}

#u370
{
	z-index: 95;
	width: 27px;
	height: 28px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#buttonu359:hover #u370
{
	width: 27px;
	height: 28px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#buttonu359.ButtonSelected #u370
{
	width: 27px;
	height: 28px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u360-4
{
	z-index: 91;
	width: 119px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 36px;
}

#buttonu359:hover #u360-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 119px;
	margin: 12px -10000px 0px 0px;
}

#buttonu359.ButtonSelected #u360-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 119px;
	margin: 12px -10000px 0px 0px;
}

#u342-4
{
	z-index: 78;
	width: 100px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 653px;
}

#u342-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100px;
	margin: 26px -10000px 0px 0px;
}

#u343-4
{
	z-index: 82;
	width: 100px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 776px;
}

#u342-4.MuseLinkActive,#u343-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100px;
	margin: 26px -10000px 0px 0px;
}

#u344-4
{
	z-index: 86;
	width: 100px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 899px;
}

#u343-4.MuseLinkActive,#u344-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100px;
	margin: 26px -10000px 0px 0px;
}

#u344-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100px;
	margin: 26px -10000px 0px 0px;
}

#u341-bw
{
	z-index: 77;
	min-height: 57px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

